openapi: 3.1.0
info:
  title: Arecibo API
  version: 0.1.0
  description: |
    Control-plane and ingest API for the embedded transponder runtime.

    API-first contract draft:
    - Transponder announces itself with identity.
    - Transponder fetches policy.
    - Transponder sends heartbeat.
    - Transponder sends policy-filtered event batches.

    Observability query endpoints:
    - Fleet health summary.
    - Heartbeat freshness by service/environment/instance.
    - Event throughput time series.
    - GO_DARK status visibility.
    - Recent event inspection with pagination.

    Time standard:
    - All timestamps are RFC 3339 UTC with trailing "Z".
    - Localization occurs in upstream consumers.

servers:
  - url: https://arecibo.contrived.com
    description: Production
  - url: http://localhost:8080
    description: Local development

tags:
  - name: system
  - name: ingest
  - name: policy
  - name: observability
    description: Query endpoints for Grafana datasource consumption and fleet visibility.

security:
  - ApiKeyAuth: []

paths:
  /health:
    get:
      tags: [system]
      summary: Health check
      description: Liveness/readiness check for API service.
      security: []
      responses:
        "200":
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                required: [ok, version]
                properties:
                  ok:
                    type: boolean
                    const: true
                  version:
                    type: string
                additionalProperties: false

  /announce:
    post:
      tags: [ingest]
      summary: Announce transponder startup
      operationId: postAnnounce
      description: |
        Called by the transponder during BOOTSTRAP after process start.
        Establishes identity and allows server-side session binding.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./schemas/ingest/announce.1.0.0.json
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: ./schemas/api/result.1.0.0.json
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/Throttled"
        "500":
          $ref: "#/components/responses/InternalError"

  /policy:
    get:
      tags: [policy]
      summary: Fetch policy for current transponder session
      operationId: getPolicy
      description: |
        Returns policy and transponderSessionId for authenticated transponder.
        Transponder should treat policy as authoritative and honor ttlSec.
      parameters:
        - name: serviceName
          in: query
          required: true
          schema:
            type: string
          description: Declared service name for policy lookup and validation.
        - name: environment
          in: query
          required: true
          schema:
            type: string
          description: Container name used for policy lookup and validation.
      responses:
        "200":
          description: Policy returned
          content:
            application/json:
              schema:
                $ref: ./schemas/policy/policy-response.1.0.0.json
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: No policy configured for service/environment
          content:
            application/json:
              schema:
                $ref: ./schemas/api/result.1.0.0.json
        "429":
          $ref: "#/components/responses/Throttled"
        "500":
          $ref: "#/components/responses/InternalError"
    put:
      tags: [policy]
      summary: Upsert policy blob
      operationId: putPolicy
      description: |
        Stores or replaces a policy blob at:
        `/data/policies/<serviceName>/<environment>.json`.
        The request body must match the policy schema and the
        body `serviceName`/`environment` must match query parameters.
      parameters:
        - name: serviceName
          in: query
          required: true
          schema:
            type: string
        - name: environment
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./schemas/policy/policy.1.0.0.json
      responses:
        "200":
          description: Policy upserted
          content:
            application/json:
              schema:
                $ref: ./schemas/api/result.1.0.0.json
        "400":
          description: Invalid key or policy mismatch
          content:
            application/json:
              schema:
                $ref: ./schemas/api/result.1.0.0.json
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      tags: [policy]
      summary: Delete policy blob
      operationId: deletePolicy
      description: |
        Deletes policy blob at:
        `/data/policies/<serviceName>/<environment>.json`.
      parameters:
        - name: serviceName
          in: query
          required: true
          schema:
            type: string
        - name: environment
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Policy deleted
          content:
            application/json:
              schema:
                $ref: ./schemas/api/result.1.0.0.json
        "400":
          description: Invalid key
          content:
            application/json:
              schema:
                $ref: ./schemas/api/result.1.0.0.json
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: No policy configured for service/environment
          content:
            application/json:
              schema:
                $ref: ./schemas/api/result.1.0.0.json
        "500":
          $ref: "#/components/responses/InternalError"

  /heartbeat:
    post:
      tags: [ingest]
      summary: Send transponder heartbeat
      operationId: postHeartbeat
      description: |
        Called by the transponder while ACTIVE. In GO_DARK, the transponder should stop outbound sends.
        The API may return directives via result payload.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./schemas/ingest/heartbeat.1.0.0.json
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: ./schemas/api/result.1.0.0.json
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/Throttled"
        "500":
          $ref: "#/components/responses/InternalError"

  /events:batch:
    post:
      tags: [ingest]
      summary: Send app event batch
      operationId: postEventsBatch
      description: |
        Called by the transponder to deliver policy-filtered batches from local ingest.
        Identity is bound server-side via transponderSessionId.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./schemas/ingest/events-batch.1.0.0.json
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: ./schemas/api/result.1.0.0.json
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "413":
          description: Batch too large
          content:
            application/json:
              schema:
                $ref: ./schemas/api/result.1.0.0.json
        "429":
          $ref: "#/components/responses/Throttled"
        "500":
          $ref: "#/components/responses/InternalError"

  /query/fleet-health:
    get:
      tags: [observability]
      summary: Fleet health summary
      operationId: getFleetHealth
      description: |
        Returns aggregated health status for known services within the time range.
        Each row represents a unique service/environment combination with instance
        count, last-seen timestamps, and a derived health status.
      parameters:
        - $ref: "#/components/parameters/QueryStart"
        - $ref: "#/components/parameters/QueryEnd"
        - $ref: "#/components/parameters/FilterServiceName"
        - $ref: "#/components/parameters/FilterEnvironment"
        - $ref: "#/components/parameters/MaxRows"
      responses:
        "200":
          description: Fleet health data
          content:
            application/json:
              schema:
                $ref: ./schemas/query/fleet-health.1.0.0.json
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /query/heartbeat-freshness:
    get:
      tags: [observability]
      summary: Heartbeat freshness by instance
      operationId: getHeartbeatFreshness
      description: |
        Returns heartbeat recency for each service/environment/instance combination.
        Includes staleness calculation (seconds since last heartbeat) and a derived
        freshness status based on the staleness threshold.
      parameters:
        - $ref: "#/components/parameters/QueryStart"
        - $ref: "#/components/parameters/QueryEnd"
        - $ref: "#/components/parameters/FilterServiceName"
        - $ref: "#/components/parameters/FilterEnvironment"
        - $ref: "#/components/parameters/MaxRows"
        - $ref: "#/components/parameters/Cursor"
        - name: stalenessThresholdSec
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 300
          description: |
            Seconds after which a heartbeat is considered stale. Default 300 (5 min).
            Instances with no heartbeat within this threshold are marked "stale";
            instances with no heartbeat within 3x this threshold are marked "offline".
      responses:
        "200":
          description: Heartbeat freshness data
          content:
            application/json:
              schema:
                $ref: ./schemas/query/heartbeat-freshness.1.0.0.json
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /query/event-throughput:
    get:
      tags: [observability]
      summary: Event throughput time series
      operationId: getEventThroughput
      description: |
        Returns time-bucketed event counts for time series visualization.
        Each data point represents the count of events within a time bucket.
        Optionally grouped by service and/or environment dimensions.
      parameters:
        - $ref: "#/components/parameters/QueryStart"
        - $ref: "#/components/parameters/QueryEnd"
        - $ref: "#/components/parameters/FilterServiceName"
        - $ref: "#/components/parameters/FilterEnvironment"
        - $ref: "#/components/parameters/MaxRows"
        - name: bucketWidthSec
          in: query
          required: false
          schema:
            type: integer
            minimum: 10
            maximum: 86400
            default: 60
          description: |
            Width of each time bucket in seconds. Default 60 (1 min).
            Minimum 10 seconds, maximum 86400 (24 hours).
      responses:
        "200":
          description: Event throughput time series
          content:
            application/json:
              schema:
                $ref: ./schemas/query/event-throughput.1.0.0.json
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /query/go-dark-status:
    get:
      tags: [observability]
      summary: GO_DARK directive status per instance
      operationId: getGoDarkStatus
      description: |
        Returns the most recently reported GO_DARK state for each
        service/environment/instance. Derived from heartbeat payloads
        which include the goDark boolean flag.
      parameters:
        - $ref: "#/components/parameters/FilterServiceName"
        - $ref: "#/components/parameters/FilterEnvironment"
        - $ref: "#/components/parameters/MaxRows"
      responses:
        "200":
          description: GO_DARK status data
          content:
            application/json:
              schema:
                $ref: ./schemas/query/go-dark-status.1.0.0.json
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /query/recent-events:
    get:
      tags: [observability]
      summary: Recent events with pagination
      operationId: getRecentEvents
      description: |
        Returns recent events with redaction-safe field projection.
        Event payloads are excluded from the response to prevent leaking
        sensitive data; only metadata fields (ts, type, severity, tags,
        service context) are returned. Use pagination cursor for large
        result sets.
      parameters:
        - $ref: "#/components/parameters/QueryStart"
        - $ref: "#/components/parameters/QueryEnd"
        - $ref: "#/components/parameters/FilterServiceName"
        - $ref: "#/components/parameters/FilterEnvironment"
        - $ref: "#/components/parameters/Cursor"
        - name: maxRows
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            default: 100
          description: Maximum number of events to return. Default 100, max 10000.
        - name: severity
          in: query
          required: false
          schema:
            type: string
            enum: [debug, info, warn, error]
          description: Filter events by severity level.
        - name: type
          in: query
          required: false
          schema:
            type: string
          description: Filter events by event type string.
      responses:
        "200":
          description: Recent events
          content:
            application/json:
              schema:
                $ref: ./schemas/query/recent-events.1.0.0.json
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Per-service scoped API key for transponder authentication.

  parameters:
    QueryStart:
      name: start
      in: query
      required: false
      schema:
        type: string
        format: date-time
      description: |
        Start of time range (RFC 3339 UTC with trailing Z).
        Default: 1 hour before current time.
    QueryEnd:
      name: end
      in: query
      required: false
      schema:
        type: string
        format: date-time
      description: |
        End of time range (RFC 3339 UTC with trailing Z).
        Default: current time.
    FilterServiceName:
      name: serviceName
      in: query
      required: false
      schema:
        type: string
      description: Filter results to a specific service name.
    FilterEnvironment:
      name: environment
      in: query
      required: false
      schema:
        type: string
      description: Filter results to a specific environment.
    MaxRows:
      name: maxRows
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 10000
        default: 1000
      description: Maximum number of rows to return. Default 1000, max 10000.
    Cursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
      description: Opaque pagination cursor from a previous response.

  responses:
    Unauthorized:
      description: Invalid or missing API key.
      content:
        application/json:
          schema:
            $ref: ./schemas/api/result.1.0.0.json
    Forbidden:
      description: Authenticated but not permitted for this service/environment.
      content:
        application/json:
          schema:
            $ref: ./schemas/api/result.1.0.0.json
    Throttled:
      description: Request throttled. Retry using retryAfterSec guidance.
      content:
        application/json:
          schema:
            $ref: ./schemas/api/result.1.0.0.json
    InternalError:
      description: Unhandled server error.
      content:
        application/json:
          schema:
            $ref: ./schemas/api/result.1.0.0.json
